*/__pycache__/
*.py[oc]
build/
dist/
wheels/
*.egg-info

.DS_Store
.vscode
.idea
.codebuddy/
retriever/faiss_cache/
retriever/faiss_cache_new/
venv/
.venv
.env

*.pt
*.pkl
*.npy
*.index

output/

retriever/faiss_cache_new/*
docker/Dockerfile
site/
